.rightbarContainer{
    flex:3;    
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    overflow-y: scroll;

    .rightbarWrapper{
        padding: 20px 20px 0 0;

        // ######  for home page ######
        .birthdayContainer{
            display: flex;
            align-items: center;

            .birthdayImg{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                object-fit: cover;
            }
    
            .birthdayText{
                font-size: 15px;
                font-weight: 300;
            }
        }

        .rightbarAd{
            width: 100%;
            border-radius: 10px;
            margin: 30px 0;
        }

        .rightbarTitle{
            margin-bottom: 20px;
        }

        .rightbarFriendList{
            padding: 0;
            margin: 0;

            .rightbarFriend{
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .rightbarProfileImagContainer{
                    margin-right: 10px;
                    position: relative;
                    z-index: -1;

                    .rightbarProfileImg{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .rightbarOnline{
                        width: 12px;
                        height: 12px;
                        border-radius: 59px;
                        background-color: limegreen;
                        position: absolute;
                        top: -2px;
                        right: 0;
                        border: 2px solid white;
                    }

                }

                .rightbarUsername{
                    font-weight: 500;
                }
            }
        }

        
        // ######  for profile page ######

        .followButton{
            display: inline-block;
            background: #1877f2;
            color: white;
            justify-content: center;
            text-align: center;
            border-radius: 5px;
            padding: 5px 15px;
            font-size: 15px;
            align-items: center;
            cursor: pointer;
            padding-top: 8px;

            & svg{
                font-size: 18px;
                vertical-align: middle;
                margin-bottom: 5px;
            }
        }

        .rightbarInfo{
            margin-bottom: 30px;

            .rightbarInfoItem{
                margin-bottom: 10px;
                
                .rightbarInfoKey{
                    font-weight: 500;
                    margin-right: 15px;
                    color: #555;
                }

                .rightbarInfoValue{
                    font-weight: 300;
                }
            }
        }

        .rightbarFollowings{
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;

            .rightbarFollowing{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                cursor: pointer;
                margin-right: 10px;

                .rightbarFollwingImg{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                span.rightbarFollowingName {
                    font-size: 13px;
                    font-weight: 500;
                    text-align: center;
                    color: black;
                }
            }
        }
    }
}